template(name='home')
  .row
    .twelve.columns
      form(data-id='add-tag-form')
        input.u-full-width(type='text' placeholder="{{i18n 'addTagInfo'}}" data-id='tag')
  .row
    .twelve.columns
      if tags.count
        ul.tags
          each tags
            li
              .checkbox
                label
                  input(type='checkbox' name='tags' value='{{name}}' checked='{{tagInSelectedTags name}}' data-id='tag')
                  span.label-body {{name}}
                    button.icon(data-id='remove-tag')
                      i.fa.fa-trash-o
  hr
  .row
    .twelve.columns
      if news.count
        each news
          .row
            .twelve.columns.news
              .row.title
                .twelve.columns
                  a(href='{{url}}' target='_blank') {{{title}}}
              hr
              .row.crawling-information
                .six.columns
                  i.fa.fa-globe
                  a(href='http://{{getHostnameFromUrl url}}' target='_blank') {{getHostnameFromUrl url}}
                .six.columns
                  a.u-pull-right(href='http://{{getHostnameFromUrl sourceUrl}}' target='_blank') {{getHostnameFromUrl sourceUrl}} ({{getCurrentDate}})
      else
        .alert.info {{i18n 'noNewsAvailable'}}
