template(name='footer')
  footer
    .container
      ul.footer-list
        li
          a(href='#') {{i18n 'imprint'}}
        li ·
        li
          a(href='#') {{i18n 'privacy'}}
        li ·
        li
          a(href='#') {{i18n 'termsOfService'}}
